---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/me/feed
    body:
      encoding: UTF-8
      string: access_token=EAACEdEose0cBAKs2wCJNfjYNVvSvbJGUBnC9EynZBFBr7cRgGCmTR9HekVbBlBGw2CN9qHoh7NMgzVgR9DdU8fdz3hljDiWqVbv6iyno7DjYsZBUGZCIvJfZABfgrmcNfbdkWMbn0lvS40rarWosSAO50ojg5fVQupy8xs3H18wOUSI2f5xXZCwZBZADlCR7x2tUKKAizrdewZDZD&message=hello
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-App-Usage:
      - '{"call_count":1,"total_cputime":1,"total_time":1}'
      Facebook-Api-Version:
      - v2.4
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "Duplicate status message"
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"Duplicate status message","type":"OAuthException","code":506,"error_subcode":1455006,"is_transient":false,"error_user_title":"Duplicate
        Status Update","error_user_msg":"This status update is identical to the last
        one you posted. Try posting something different, or delete your previous update.","fbtrace_id":"CztIBIVMKS9"}}'
  recorded_at: Fri, 29 Sep 2017 08:40:34 GMT
[...]
- request:
    method: post
    uri: https://graph.facebook.com/me/feed
    body:
      encoding: UTF-8
      string: access_token=test&message=hello
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"Av3c2zZz1IP"}}'
  recorded_at: Sun, 01 Oct 2017 12:17:06 GMT
recorded_with: VCR 3.0.3
