---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/me/feed
    body:
      encoding: UTF-8
      string: access_token=EAACEdEose0cBAMYzzvjpeK55C0C7GWCN5ZAHrLdCpm9qvBvHAxZBkLPW3GRxoJqGZCyzaDxTvlIX4xLrKHQX8rbhlJKxZCrktXIuEE76N7x2oXilF3zpRwynZA1ysfqz9m2Ngh6rtsYMCc38dRIIiLpUYZAtkuS3LLJkxyV2eSvPNSVK9cbMlXy0IOGZASiJ4zoznuiDHWcYwZDZD&message=test+api+explorer
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-App-Usage:
      - '{"call_count":1,"total_cputime":1,"total_time":1}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.4
    body:
      encoding: UTF-8
      string: '{"id":"941616485924155_1421411354611330"}'
  recorded_at: Fri, 29 Sep 2017 08:43:10 GMT
- request:
    method: post
    uri: https://graph.facebook.com/me/feed
    body:
      encoding: UTF-8
      string: access_token=test&message=ping
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"EUBKqeKmIAz"}}'
  recorded_at: Sun, 01 Oct 2017 12:13:36 GMT
- request:
    method: post
    uri: https://graph.facebook.com/me/feed
    body:
      encoding: UTF-8
      string: access_token=test&message=ping
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190,"fbtrace_id":"Fr\/kw+xPFh0"}}'
  recorded_at: Sun, 01 Oct 2017 12:13:44 GMT
recorded_with: VCR 3.0.3
