---
http_interactions:
- request:
    method: post
    uri: https://instagram.com/api/v1/accounts/login/
    body:
      encoding: UTF-8
      string: ig_sig_key_version=4&signed_body=07a24d54f4e38f7b87a89ccda6d85d9ab51906df217622ed5ecd76c8f9fa3d6e.%7B%22username%22%3A%22rspecyaroslav%22%2C%22password%22%3A%22rspecyaroslav555%22%2C%22guid%22%3A%2243a699d0%2D12db%2D4d96%2D95c8%2Dbc21b0767ce8%22%2C%22device_id%22%3A%22android%2D43a699d0%2D12db%2D4d96%2D95c8%2Dbc21b0767ce8%22%2C%22Content%2DType%22%3A%22application%2Fx%2Dwww%2Dform%2Durlencoded%3B%20charset%3DUTF%2D8%22%7D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"logged_in_user": {"pk": 6132160267, "username": "rspecyaroslav",
        "full_name": "rspecyaroslav", "is_private": false, "profile_pic_url": "https://scontent-cdt1-1.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "is_verified": false, "has_anonymous_profile_picture": true, "is_business":
        false, "can_see_organic_insights": false, "show_insights_terms": false, "allow_contacts_sync":
        false}, "status": "ok"}'
  recorded_at: Wed, 18 Oct 2017 21:06:18 GMT
- request:
    method: post
    uri: https://instagram.com/api/v1/media/upload/
    body:
      encoding: US-ASCII
      string: photo=test.jpg&device_timestamp=1508360778
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"media_id": "1508360778", "status": "ok"}'
  recorded_at: Wed, 18 Oct 2017 21:06:20 GMT
- request:
    method: post
    uri: https://instagram.com/api/v1/media/configure/
    body:
      encoding: UTF-8
      string: ig_sig_key_version=4&signed_body=bbb9c40e4d37f77b58a12830274f1a027ed36c69937c3f3fb48d524c8cbfec3f.%7B%22device_timestamp%22%3A%221508360780%22%2C%22media_id%22%3A%221508360778%22%2C%22caption%22%3A%22test%20api%20explorer%22%2C%22source_type%22%3A5%2C%22filter_type%22%3A0%2C%22extra%22%3A%7B%7D%2C%22guid%22%3A%2243a699d0%2D12db%2D4d96%2D95c8%2Dbc21b0767ce8%22%2C%22device_id%22%3A%22android%2D43a699d0%2D12db%2D4d96%2D95c8%2Dbc21b0767ce8%22%2C%22Content%2DType%22%3A%22application%2Fx%2Dwww%2Dform%2Durlencoded%3B%20charset%3DUTF%2D8%22%7D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"media": {"taken_at": 1508360781, "pk": 1628570727908383424, "id":
        "1628570727908383424_6132160267", "device_timestamp": 1508360778, "media_type":
        1, "code": "BaZ2HLQlBrA", "client_cache_key": "MTYyODU3MDcyNzkwODM4MzQyNA==.2",
        "filter_type": 0, "image_versions": [{"type": 7, "width": 640, "height": 640,
        "url": "https://instagram.fhrk1-1.fna.fbcdn.net/t51.2885-15/s640x640/sh0.08/e35/22637776_804066356465040_1349704162941599744_n.jpg"},
        {"type": 6, "width": 320, "height": 320, "url": "https://instagram.fhrk1-1.fna.fbcdn.net/t51.2885-15/s320x320/e15/22637776_804066356465040_1349704162941599744_n.jpg"},
        {"type": 5, "width": 150, "height": 150, "url": "https://instagram.fhrk1-1.fna.fbcdn.net/t51.2885-15/s150x150/e15/22637776_804066356465040_1349704162941599744_n.jpg"}],
        "user": {"pk": 6132160267, "username": "rspecyaroslav", "full_name": "rspecyaroslav",
        "is_private": false, "profile_pic_url": "https://instagram.fgyn3-1.fna.fbcdn.net/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "has_anonymous_profile_picture": true, "can_boost_post": false, "can_see_organic_insights":
        false, "show_insights_terms": false, "is_unpublished": false, "allowed_commenter_type":
        "any"}, "caption": {"pk": 17844832495212486, "user_id": 6132160267, "text":
        "test api explorer", "type": 1, "created_at": 1508360781, "created_at_utc":
        1508360781, "content_type": "comment", "status": "Active", "bit_flags": 0,
        "user": {"pk": 6132160267, "username": "rspecyaroslav", "full_name": "rspecyaroslav",
        "is_private": false, "profile_pic_url": "https://instagram.fgyn3-1.fna.fbcdn.net/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "has_anonymous_profile_picture": true, "can_boost_post": false, "can_see_organic_insights":
        false, "show_insights_terms": false, "is_unpublished": false, "allowed_commenter_type":
        "any"}, "did_report_as_spam": false, "media_id": 1628570727908383424}, "caption_is_edited":
        false, "comment_likes_enabled": false, "comment_threading_enabled": false,
        "has_more_comments": false, "max_num_visible_preview_comments": 4, "preview_comments":
        [], "comments": [], "comment_count": 1, "photo_of_you": false, "organic_tracking_token":
        "eyJ2ZXJzaW9uIjo1LCJwYXlsb2FkIjp7ImlzX2FuYWx5dGljc190cmFja2VkIjpmYWxzZSwidXVpZCI6IjI5MDFlMWIyMTRiZDQ1YjFhMmExNWRkYzcyMGExOGQ0MTYyODU3MDcyNzkwODM4MzQyNCIsInNlcnZlcl90b2tlbiI6IjE1MDgzNjA3ODIyNTN8MTYyODU3MDcyNzkwODM4MzQyNHw2MTMyMTYwMjY3fGVlMTliODU1ODUzNDZmN2NiMDI2ZWFkMTEwNDBkNmI1OWM2ZTg3YjVjOTEzNTdiZTM3ZmE2NTk5NjA0ZmY2MzUifSwic2lnbmF0dXJlIjoiIn0="},
        "status": "ok"}'
  recorded_at: Wed, 18 Oct 2017 21:06:23 GMT
recorded_with: VCR 3.0.3
