---
http_interactions:
- request:
    method: post
    uri: https://instagram.com/api/v1/accounts/login/
    body:
      encoding: UTF-8
      string: ig_sig_key_version=4&signed_body=99787a379a7590dc80e7959d34ce92aca685cdd66204a8a7b75c38099e7895b5.%7B%22username%22%3A%22rspecyaroslav%22%2C%22password%22%3A%22rspecyaroslav555%22%2C%22guid%22%3A%223e98dd24%2Db80d%2D4082%2D831f%2D6c006f16f73b%22%2C%22device_id%22%3A%22android%2D3e98dd24%2Db80d%2D4082%2D831f%2D6c006f16f73b%22%2C%22Content%2DType%22%3A%22application%2Fx%2Dwww%2Dform%2Durlencoded%3B%20charset%3DUTF%2D8%22%7D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"logged_in_user": {"pk": 6132160267, "username": "rspecyaroslav",
        "full_name": "rspecyaroslav", "is_private": false, "profile_pic_url": "https://scontent-gru2-2.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "is_verified": false, "has_anonymous_profile_picture": true, "is_business":
        false, "can_see_organic_insights": false, "show_insights_terms": false, "allow_contacts_sync":
        false}, "status": "ok"}'
  recorded_at: Wed, 18 Oct 2017 21:06:24 GMT
recorded_with: VCR 3.0.3
