---
http_interactions:
- request:
    method: post
    uri: https://api.pinterest.com/v1/pins/
    body:
      encoding: UTF-8
      string: board=819936744597203971&image_url=https%3A%2F%2Frobohash.org%2Fminimavoluptateaspernatur.png%3Fsize%3D300x300&note=test+api+explorer
    headers:
      Authorization:
      - BEARER AREWF3xT5GMd1Wup8Zm0pb8k2o-EFOuZpI-zSfhEYRLvBaBHdwAAAAA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      Pinterest-Version:
      - 96f8e62
      X-Pinterest-Rid:
      - '967099110427'
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '176'
      Pinterest-Generated-By:
      - devplatform-devapi-prod-0a01ad2e
    body:
      encoding: UTF-8
      string: '{"data": {"url": "https://www.pinterest.com/pin/819936675880668063/",
        "note": "test api explorer", "link": "", "id": "819936675880668063"}}'
  recorded_at: Sun, 08 Oct 2017 13:57:14 GMT
recorded_with: VCR 3.0.3
