---
http_interactions:
- request:
    method: post
    uri: https://api.tumblr.com/v2/blog/usernickname.tumblr.com/post
    body:
      encoding: UTF-8
      string: body&title&type=text
    headers:
      Authorization:
      - OAuth oauth_consumer_key="pOArLX9ZeJwbNHgX8AshUQhBFshJHbsp6aDtuwK8Fl5tzbCYAz",
        oauth_nonce="18ebc09b5b07eb4e8c5034a252236a16", oauth_signature="XWUI0puODyxMuDu%2FgdTnMZrUMWo%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1508087877", oauth_token="b9eUI47iPEYX7dxDm8y5MK8AYocKF6P0prcyCFLR1ih49VZ7Sh",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Perday-Limit:
      - '5000'
      X-Ratelimit-Perday-Remaining:
      - '4957'
      X-Ratelimit-Perday-Reset:
      - '67515'
      X-Ratelimit-Perhour-Limit:
      - '1000'
      X-Ratelimit-Perhour-Remaining:
      - '969'
      X-Ratelimit-Perhour-Reset:
      - '938'
    body:
      encoding: UTF-8
      string: '{"meta":{"status":400,"msg":"Bad Request"},"response":{"errors":["Post
        cannot be empty."]}}'
  recorded_at: Sun, 15 Oct 2017 17:17:57 GMT
- request:
    method: post
    uri: https://api.tumblr.com/v2/blog/usernickname.tumblr.com/post
    body:
      encoding: UTF-8
      string: body&title&type=text
    headers:
      Authorization:
      - OAuth oauth_consumer_key="", oauth_nonce="88e0d892d9ef117a9467abf4602027b3",
        oauth_signature="jNLRVcYQm8ue9PGMRpD7%2FiXgbzk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1508088462", oauth_token="POMG160922HCHDJFZ8", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"status":401,"msg":"Unauthorized"},"response":[],"errors":[{"title":"Unauthorized","detail":"Unable
        to authorize"}]}'
  recorded_at: Sun, 15 Oct 2017 17:27:43 GMT
recorded_with: VCR 3.0.3
